.header-img {
  max-width: 350px;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-copy {
  max-width: 300px;
  text-align: center;
  font-size: 1.6rem;
}

.github-profile-link {
  text-decoration: underline;
  color: black;
}

.btn {
  text-decoration: none;
  padding: 0.5rem 2rem;
  background-color: black;
  color: white;
  border-radius: 3px;
  margin-right: 1rem;
  font-weight: 600;
  border: 1px solid black;
}

.btn-container {
  margin-top: 1rem;
}

.btn-signin{
    background-color: white;
    border: 1px solid black;
    color: black;
}

.btn-signup:hover{
    background-color: white;
    color: black;
}
.btn-signin:hover{
    background-color: black;
    color: white;
}
